@use '../../util'as *;
@use '../home'as *;

.create-plan {
    
    @include breakpoint-up(desktop){
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 16rem 1fr;
        grid-template-columns: 16rem 1fr;
        gap: 7.5rem;
        padding-inline: 16.5rem;
    }
}


 .create-plan__nav__item {
    // display: none;
   

    ol,ul {
        list-style-type: none;
        padding-inline-start: 0;
    }
}
.create-plan__nav__item {
    width: 100%;
    padding: 2.4rem 0;
    counter-increment: subscription-form-nav;
    opacity: 0.5;
    &:hover {
        color: #333D4B;
        opacity: 1;
    }

  }
.create-plan__nav__item:not(:last-of-type) {
    border-bottom: 1px solid #83888f;
  }

  .create-plan__nav__item::before {
    content: "0" counter(subscription-form-nav);
    margin-right: 2.4rem;
    font-family: "Fraunces", serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2rem;
    opacity: 0.5;


  }

  .create-plan__nav__item__link {
    font-size: 2.4rem;
    line-height: 2rem;
    font-family: "Fraunces", serif;
    text-transform: none;
  }


  .create-plan__form__options {
    transition: all 600ms;
  }

  .create-plan__group__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include breakpoint-up(medium) {
        margin-bottom: 1.5rem;
    }

    @include breakpoint-up(large) {
        margin-bottom: 2.5rem;
    }

    &:focus  {
        outline: none;

        & >.create-plan__group__toggle__text {
            color: var(--dark-grey-blue);

            &::after {
                height: 2px;
                width: 100%;
            }
        }

    }

    &:hover {
        & .create-plan__group__toggle__text {
            color: var(--dark-grey-blue);
        }
    }

    &:disabled {
        & .create-plan__group__toggle__text {
            color: var(--txt-grey);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
  }