@use '../util' as *;


html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
    padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-p);
	overflow-x: hidden;
	
	padding: 3.23rem 2.4rem 0 2.4rem;
	

    @include breakpoint-up(tablet){
		padding: 4rem 3.9rem 0 3.9rem;
	}

	@include breakpoint-up(desktop){
		padding: 4.36rem 8rem 0 8rem;
	}
}

img,
picture {
	max-width: 100%;
}

span {
	opacity: 1;
    // display: inline-block;
    animation: amin 1s;

    @keyframes  amin{
        0%{
            opacity: 0;
            transform: rotateY(-90deg);
            filter: blur(1rem);
        }
        100%{
            opacity: 1;
            transform: rotateY(0deg);
            filter: blur(0);
        }
    }
	&:nth-child(1) {
		animation-delay:1s;
	}
	&:nth-child(2) {
		animation-delay:1.5s;
	}
	&:nth-child(3) {
		animation-delay:2s;
	}
	&:nth-child(4) {
		animation-delay:2.5s;
	}
	
}

video {
	position: absolute;
	top:7rem;
	left: 0;

	
	opacity: 0.6;

	border-radius: 1rem;	
	object-fit:cover;
	// height:60rem;
	

	

	

}	
	

