@use '../util' as *;


html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
    padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-p);
	overflow-x: hidden;
	padding: 3.23rem 2.4rem 0 2.4rem;

    @include breakpoint-up(tablet){
		padding: 4rem 3.9rem 0 3.9rem;
	}

	@include breakpoint-up(desktop){
		padding: 4.36rem 8rem 0 8rem;
	}
}

img,
picture {
	max-width: 100%;
}
	
	

