:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--hero-heading:hsl(43, 78%, 98%);
	--dark-cyan:hsl(179, 81%, 29%);
	--dark-grey-blue:	hsl(213, 17%, 21%);
	--pale-orange: 	hsl(25, 94%, 86%);
	--light-cream: 	hsl(43, 78%, 98%);
	--grey:hsl(215, 19%, 25%);
	--bg-order:hsl(0, 0%, 59%);

}
