:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--hero-white:hsl(43, 78%, 98%);   // #FEFCF7
	--dark-cyan:hsl(179, 81%, 29%);
	--cyan-hover:hsl(178, 55%, 61%);
	--dark-grey-blue:	hsl(213, 17%, 21%);
	--pale-orange: 	hsl(25, 94%, 86%);
	--txt-grey:hsl(215, 19%, 25%);  // #333D4B
	--bg-order:hsl(0, 0%, 59%);
	--links: 	hsl(215, 5%, 54%);  // #83888F
}
	

