@use '../util' as *;



.container {
	margin: 0 auto;
}

.flex {
	display:flex;
}

.grid {
	display: grid;
}

// margin-top of the sections
.m-tp {
	margin-top: 12rem;

	 @include breakpoint-up(tablet) {
		 margin-top: 14.4rem;
	 }
}




	
	

