@use '../util' as *;

h1,
h2,
h3,
h4 {
	margin-top: 0;
	font-family:var(--font-h);
}


/* Headings colours & fonts */ 

h1 {
	font-size: 4rem;
	line-height: 4rem;

	@include breakpoint-up(tablet){
		font-size: 4.8rem;
		line-height: 4.8rem;
	 }
	 @include breakpoint-up(desktop) {
		font-size: 7.2rem;
		line-height: 7.2rem;
	 }
}
	

h2 {
	font-size: 3.2rem;
	line-height: 4.8rem;

	@include breakpoint-up(desktop) {
		font-size: 4rem;
		line-height: 4.8rem;
	 }
}


h3 {
	font-size: 2.8rem;

	@include breakpoint-up(tablet){
		font-size: 3.2rem;
	}
	@include breakpoint-up(desktop){
		font-size: 4rem;
	}
}

		

h4 {
	font-size:2.4rem;
	line-height: 3.2rem;
}
	

.h-w {
	color: var(--hero-white);
}
	

.h-g {
	color:var(--txt-grey);
}


//Paragraphs colours

.p-g {
	color: var(--txt-grey);
}

// Hero section
.p-hw {
   color:var(--hero-white);
   font-style: normal;
   font-weight: normal;
}


// Create Plan page
.p-cpw {
	color: var(--white);
}

.p-sm {
	font-size: 1.5rem;
	line-height: 2.5rem;
	 @include breakpoint-up(desktop){
		font-size: 1.6rem;
		line-height: 2.6rem;
	 }
}

.p-lg {
	font-size: 1.6rem;
	line-height: 2.6rem;
}


//Nav Anchors
a,
a:visited,
a:active {
	text-decoration: none;
	color:var(--links);
	font-size: 1.2rem;
	line-height: 1.5rem;
	letter-spacing: 0.092rem;
	font-weight: bold;
	text-transform: uppercase;

	&:hover {
		color:var(--txt-grey);
	}
}


.shadow-text {
	filter: drop-shadow(0 0.4rem 0.4rem  rgba(0, 0, 0, 0.5));
}
	

// span numbers

.pale_num {
	display: block;
	font-size: 7.2rem;
	line-height: 7.2rem;
	font-weight: 900;
	font-family: var(--font-h);
	color: var(--pale-orange);
	margin-bottom: 2.4rem;
	position: relative;
}


.pale_num:before {
	@include breakpoint-up(tablet) {

		    position: absolute;
			width: 2.9rem;
			height: 2.9rem;
			content: "";
			border: 0.3rem solid #0e8784;
			top: -7rem;
			border-radius: 50%;
			left: 0;
			max-width: 79rem;
			// background-color:var(--dark-cyan);
		}
	
	}
			
.noline:after {
	@include breakpoint-up(tablet) {
	position: absolute;
	width: 92%;
	height: 0.2rem;
	content: "";
	background-color:var(--pale-orange);
	top: -5.5rem;
	left: 3rem;
	}
}

