@use '../util' as *;

h1,
h2,
h3,
h4 {
	margin-top: 0;
	font-family:var(--font-h);
}


/* Headings colours & fonts */ 

h1 {
	// line-height: clamp(4rem,6.22vw,7.2rem);
	// font-size:clamp(4rem, 6.22vw, 7.2rem);
	font-size: 4rem;
	line-height: 4rem;

	@include breakpoint-up(tablet){
		font-size: 4.8rem;
		line-height: 4.8rem;
	 }
	 @include breakpoint-up(desktop) {
		font-size: 7.2rem;
		line-height: 7.2rem;
	 }
}
	

h2 {
	font-size: 3.2rem;
	line-height: 4.8rem;

	@include breakpoint-up(desktop) {
		font-size: 4rem;
		line-height: 4.8rem;
	 }
}


h3 {
	font-size: 2.8rem;

	@include breakpoint-up(tablet){
		font-size: 3.2rem;
	}
	@include breakpoint-up(desktop){
		font-size: 4rem;
	}
}

		

h4 {
	font-size:2.4rem;
	line-height: 3.2rem;
}
	

.h-w {
	color: var(--hero-white);
}
	

.h-g {
	color:var(--txt-grey);
}

.h-l {
	 line-height: clamp(2.8rem,5.195vw,4.8rem);
	 font-weight: 900;
}

//------Paragraphs colours--------\\

.p-g {
	color: var(--txt-grey);
}

// Hero section
.p-hw {
   color:var(--hero-white);
   font-style: normal;
   font-weight: normal;
}


// Create Plan page
.p-cpw {
	color: var(--white);
}

.p-sm {
	font-size: 1.5rem;
	line-height: 2.5rem;
	// font-size: clamp(2.5rem,4vw,2.6rem);
	// font-size: clamp(1.5rem, 10vw,1.6rem);
	 @include breakpoint-up(desktop){
		font-size: 1.6rem;
		line-height: 2.6rem;
	 }
}

.p-lg {
	font-size: 1.6rem;
	line-height: 2.6rem;
}


//---------Nav Anchors---------\\
a,
a:visited,
a:active {
	text-decoration: none;
	color:var(--links);
	font-size: 1.2rem;
	line-height: 1.5rem;
	letter-spacing: 0.092rem;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;

	&:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 0.3rem;
        bottom: 0;
		
        left: 0;
        background-color: var(--dark-cyan);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
    }

    &:hover {
        &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
}
	// &:hover {
	// 	color:var(--txt-grey);
	// }


svg {
  cursor: pointer;
}

.shadow-text {
	filter: drop-shadow(0 0.4rem 0.4rem  rgba(0, 0, 0, 0.5));
}
	

// Span numbers

.pale_num {
	display: inline-block;
	font-size: 7.2rem;
	line-height: 7.2rem;
	font-weight: 900;
	font-family: var(--font-h);
	color: var(--pale-orange);
	margin-bottom: 2.4rem;
	position: relative;
	cursor: pointer;
	


}
.pale_num:before {
	@include breakpoint-up(mid) {
		    cursor: pointer;
		    position: absolute;
			width: 2.9rem;
			height: 2.9rem;
			content: "";
			border: 0.3rem solid #0e8784;
			top: -7rem;
			border-radius: 50%;
			left: 0;
			max-width: 79rem;
			// background-color:var(--dark-cyan);
		}

	}
	.pale_num:hover::before {
		background-color: #0e8784;
		scale: 1.15;
	}
			
.noline:after {
	@include breakpoint-up(mid) {
	position: absolute;
    width:88%;
	height: 0.2rem;
	content: "";
	background-color:var(--pale-orange);
	top: -5.5rem;
	left: 3rem;
	
	
	
		@media screen and (min-width:919px) {
			width: 90%;
		}
		@media screen and (min-width:1027px) {
			width: 92%;
		}

	}

}




.hidden {
	display: none;
}

.rotate {
	transform: rotate(180deg);
	transition: 300ms linear all;
}

.hidden-visually {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }