@use '../../util'as *;


.steps {

    margin-top: 71.7rem;
    max-width: 104.5rem;

    @include breakpoint-up(mid) {
        margin-top: 45.4rem;
    }
    @include breakpoint-up(tablet) {
        margin-top: 42rem;
    }

    @include breakpoint-up(desktop) {
        margin-top: 35.5rem;
    }


    &__wrapp {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 5.6rem;
        place-items: center;

        @include breakpoint-up(desktop) {
            transform: translate(-2.8rem);
        }

        @include breakpoint-up(mid) {
            grid-template-columns: repeat(3, 1fr);
           
            row-gap: 4.4rem;
            place-items: unset;
        }

        @include breakpoint-up(desktop) {
            row-gap: 6.4rem;
        }

        .steps_item {
            
            @include breakpoint-up(mid) {
                flex-direction: column;
                text-align: left;

                &:not(:first-child) {
                    margin-top: 11.2rem;
                }
            }

            // @include breakpoint-up(tablet) {
            //     height:37.1rem;
            // }
            // @media screen and(min-width:923px) {
            //     height: unset;
            // }

            .hero_btn {
                margin-top: 9.4rem;
                margin-right: auto;

                @include breakpoint-up(desktop) {
                    margin-top: 6.4rem;
                }
            }

            .wrapp_heading {
                margin-bottom: 8rem;

                @include breakpoint-up(desktop) {
                    transform: translate(0, -8.6rem);
                }
            }

            h3 {
                margin-bottom: 2.4rem;
                color: var(--txt-grey);

                @include breakpoint-up(mid) {
                    font-size: 2.8rem;
                    line-height: 3.2rem;
                    max-width: 22.5rem;
                }

                @include breakpoint-up(midesktop) {
                    font-size: 3.2rem;
                    line-height: 3.6rem;
                }
                
                @include breakpoint-up(tablet) {
                    margin-bottom: 3.8rem;
                }

            }

            .p-sm {
                margin-inline: auto;
                
                @include breakpoint-up(mid) {
                  width: 95%;
                  height:15rem;
                  margin-inline: 0;
                }
                
                @include breakpoint-up(tablet) {
                     max-width: 23.3rem;
                }
                     
                @include breakpoint-up(desktop) {
                    max-width: 28.5rem;
                    height: 13rem;
                }
            }

        }
                
                    



    }
}
