
button {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--white);
    padding: 1.6rem 3.1rem;
    line-height: 2.5rem;
    width: 21.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
    font-family: var(--font-h);
    // overlay cant cover btn !
    // filter: drop-shadow(0 0.4rem 0.4rem  rgba(0, 0, 0, 0.5));
    transition: all 0.5s;
    margin-bottom: 2.4rem;
    background-color: var(--dark-cyan);
    text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      &:hover {
        background-color: var(--cyan-hover);
      }

}