
@use '../util'as *;

.collection {
    
    max-width: 111.1rem;
    
    &__wrap {
        text-align: center;
        gap: 4.8rem;
        padding-inline: 2.3rem;
        grid-template-columns: 1fr;
        align-items: center;

        @include breakpoint-up(mid) {
            gap:0;
            padding-inline:0;
        }

        @include breakpoint-up(tablet) {
            article {
                padding-inline:5.8rem;
                margin-bottom: 3.2rem;
                
            }
        }

        @include breakpoint-up(desktop) {
            article {
                padding-inline:0;
            }
        }


        @include breakpoint-up(desktop) {
            grid-template-columns: repeat(4,1fr);
            gap: 3rem;
            padding-inline:0;
        }
          
        .wrap-coffy__heading {
           padding-bottom: 1.3rem;
           position: relative;
           color: #83888f;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 2.5rem;
                right: 0;
                left: 0;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#fefcf7));
                background-image: linear-gradient(rgba(254, 252, 247, 0.0001) 0%, #fefcf7 100%);

                @include breakpoint-up(tablet){
                    top: -6rem;
                    bottom: -2rem;
                }
            }

            @include breakpoint-up(tablet){
                font-size: 9.2rem;
                margin-bottom: -3rem;
                z-index: -2;
            }
            
            @include breakpoint-up(desktop){
                grid-column: 1 / 5;
                // max-width: 111rem;
                font-size: 14.9rem;
                margin-bottom: -5rem;
                z-index: -2;
                padding-inline: 0;
        
            }
        }

        .h-g {
            padding-top: 2.4rem;
            padding-bottom: 1.6rem;

              @include breakpoint-up(tablet){
                padding-bottom: 2.4rem;
              }
        }
    }

    
    &__wrap-coffy {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;

        @include breakpoint-up(mid) {
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
            text-align: left;
        }
        @include breakpoint-up(desktop) {
            grid-template-columns: 1fr;
            align-items: center;
            text-align: center;
        } 

        .txt_article {
            max-width: 28.2rem;
        }
    }
    
    .coffy {
        width:clamp(20rem, 35vw, 25.5rem);
                 
            &:hover {
                cursor: pointer;
                 transform: translateY(-3rem);
                
            }
    }
        

}


      
      

  
   


