
@use '../util'as *;

.collection {
    
    
    &__wrap {
        max-width: 111.1rem;
        text-align: center;
        gap: 4.8rem;
        padding-inline: 2.3rem;

        @include breakpoint-up(tablet) {
            grid-template-columns: repeat(4, 1fr);
          
        }


        .wrap-coffy__heading {
           padding-bottom: 1.3rem;
           position: relative;
           color: #83888f;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 2.5rem;
                right: 0;
                left: 0;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#fefcf7));
            }
        }

        .h-g {
            padding-top: 2.4rem;
            padding-bottom: 1.6rem;
        }
    }

    
  &__wrap-coffy {
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;

      @include breakpoint-up(mid) {
          grid-template-columns: 1fr 1fr;
          align-items: flex-start;
          text-align: left;
      }

      @include breakpoint-up(tablet) {
        grid-template-columns: 1fr;
        align-items: flex-start;
        text-align: left;
    }
    
  
    
}

.coffy {
  width:clamp(20rem, 35vw, 25.5rem);
 
}

}
      
      

  
   


