@use '../util'as *;

.header {
  max-width: 128rem;
  position: relative;
  // z-index: 1;
  // overflow: hidden;
  
  &__navigation {
    overflow: hidden; 
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      img {
        width: clamp(16.2rem, 33vw, 23.6rem);
      }
    }
  }


  &__hero {
    max-width: 128rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    overflow: hidden;
    z-index: 999;

    @include breakpoint-up(mid) {
      text-align: left;
      align-items: flex-start;
    }

    margin-top:4rem;
    background-image: url('../assets/home/mobile/image-hero-coffeepress.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50rem;


    @include breakpoint-up(tablet) {
      background-image: url('../assets/home/tablet/image-hero-coffeepress.jpg');
    }

    @include breakpoint-up(desktop) {
      background-image: url('../assets/home/desktop/image-hero-coffeepress.jpg');
    }
  }


  &__hero {
    position: relative;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-radius: 1rem;

    @include breakpoint-up(tablet) {
      margin-top: 5.3rem;
      padding-left: 5.8rem;
    }


    @include breakpoint-up(desktop) {
      margin-top: 4.3rem;
      padding-left: 8.5rem;

    }

    .h-w {
      margin-bottom: 2rem;
      @include breakpoint-up(tablet) {
        max-width: 32.9rem;
      }
      @include breakpoint-up(desktop) {
        max-width: 49.3rem;
      }
      
    }

    .p-hw {
      margin-bottom: 3.9rem;
      max-width: 39.8rem;
    }

  }

  .overlay {
    display: none;
    opacity: 0.9;
    position: fixed;
    top: 6rem;
    bottom: 9rem;
    left: 0;
    right: 0;
    height: 60vh;
    padding-top: 4rem;
    background-color: aliceblue;

    .overlay-wrapp {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;
      animation: rotateMenu 700ms ease-in;
      transform-origin: top center;

      /* Nav Animations */

      @keyframes rotateMenu {
        0% {
          transform: rotateX(-90deg)
        }

        70% {
          transform: rotateX(20deg)
        }

        100% {
          transform: rotateX(0deg)
        }
      }

      a {
        text-transform: unset;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: var(--txt-grey);
        font-family: var(--font-h);
        filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
      }

    }

    background: rgb(254, 252, 247);
    background: linear-gradient(180deg, rgba(254, 252, 247, 1) 50.5%, rgba(0, 0, 0, 25%) 100%);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  }


  .hide-for-mobile {
    display: none;

    a:not(:last-child) {
      margin-right: 3.3rem;
    }

    @include breakpoint-up(tablet) {
      display: block;

      .hide-for-desktop {
        display: none;
      }

    }

    @include breakpoint-down(mobile) {
      display: none;
    }
  }


  .hide-for-desktop {
    @include breakpoint-up(tablet) {
      display: none;
    }
  }

  .header__menu {
    display: none;
  }


}

