@use '../util' as *;

.header {
    max-width: 128rem;
    position: relative;
    z-index: 1;   

  
    
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

          .header__logo {

            img {
                width:clamp(16.2rem, 33vw, 23.6rem); 
            }

          }
      }
      
      .overlay {
        //   opacity: 0;
        position: fixed;
        top: 9rem;
        right: 3.2rem;
        bottom: 9rem;
        left: 3.2rem;
    

        // background-color: rgb(173, 158, 158);
        // border-radius: 1.1rem;
        // background: #979797;
        
        //  background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        // transform: matrix(1, 0, 0, -1, 0, 0);
        // background: #979797;
        
        // box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        // background: linear-gradient(180deg, rgba(254,252,247,1) 0%, rgba(254,252,247,1) 34%, rgba(0,0,0,0.25) 25%);
        
        background: rgb(254,252,247);
        background: linear-gradient(180deg, rgba(254,252,247,1) 50.5%, rgba(0,0,0,25%) 100%);
        // box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
         filter: drop-shadow(0 0.4rem 0.4rem  rgba(0, 0, 0, 0.5));
         
       }
                
          
      
       

   .hide-for-mobile {
       display: none;

       a:not(:last-child){
        margin-right: 3.3rem;
      }

       @include breakpoint(tablet) {
           display: block;

           .hide-for-desktop {
            display: none;
        }

       }


       @include breakpoint-down(mobile) {
        display: none;
    }

   }

   .hide-for-desktop {

     @include breakpoint(tablet){
        display: none;
     }
   }

   .header__menu {
    display:none;
} 


}