@use '../util'as *;

.steps {
   margin-top: 71.7rem;
   max-width: 104.5rem;

   @include breakpoint-up(mid) {
       margin-top: 45.4rem;
   }


        &__wrapp {
            text-align: center;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 5.6rem;
            
            

        

            .steps_item {
               

                .wrapp_heading {
                    margin-bottom: 8rem;
                }

                h3 {
                    margin-bottom: 2.4rem;
                }


                .p-sm {
                    margin-inline: auto;

                    @include breakpoint-up(mid) {
                        max-width: 75%;
                    }
                }
                    
            }
            
 
        }



}

